In [18]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import pdb

### 1) Write a python program to display all the header tags from wikipedia.org and make data frame.

In [19]:
def Extract_Header(url):
    #Send get request to web to get required file to scrap
    page = requests.get(url)
    #Extract page content
    soup = BeautifulSoup(page.content)
    headers = soup.find_all('h2', class_ = 'mp-h2')
    headers_list = []
    #Add page content to file
    for i in headers:
        headers_list.append(i.text)
    #generate data frame
    df = pd.DataFrame({'Headers': headers_list})
    print(df)

In [20]:
Extract_Header('https://en.wikipedia.org/wiki/Main_Page')

                         Headers
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

### 2) Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame.

In [21]:
def Top_50_IMDB_Movies(url):
    #Send get request to web to get required file to scrap
    page = requests.get(url)
    
    #Extract page content
    soup = BeautifulSoup(page.content)
    
    #declare emoty lists 
    titles_list = []
    ratings_list = []
    Years_of_release_list = []
    
    #extract all elements
    titles = soup.find_all('td', class_ = 'titleColumn')
    ratings = soup.find_all('td', class_ = 'ratingColumn imdbRating')
    years_of_release = soup.find_all('span', class_ = 'secondaryInfo')
    
    #Display only 50 movies in top


    for name in titles:
        titles_list.append(name.text.split('\n')[2].strip())
    for rating in ratings:
        ratings_list.append(rating.text.split('\n')[1])
    for year in years_of_release:
        Years_of_release_list.append(year.text.removeprefix('(').removesuffix(')'))
    #i = i+1
        
    #generate data frame
    #pd.set_option('display.max_rows', None)
    df = pd.DataFrame({'Titles': titles_list[:50], 'Rating' : ratings_list[:50], 'Year_of_Release': Years_of_release_list[:50]})
    print(df)

In [22]:
Top_50_IMDB_Movies('https://www.imdb.com/chart/top/?ref_=nv_mv_250')

                                               Titles Rating Year_of_Release
0                            The Shawshank Redemption    9.2            1994
1                                       The Godfather    9.2            1972
2                                     The Dark Knight    9.0            2008
3                               The Godfather Part II    9.0            1974
4                                        12 Angry Men    9.0            1957
5                                    Schindler's List    8.9            1993
6       The Lord of the Rings: The Return of the King    8.9            2003
7                                        Pulp Fiction    8.8            1994
8   The Lord of the Rings: The Fellowship of the Ring    8.8            2001
9                     Il buono, il brutto, il cattivo    8.8            1966
10                                       Forrest Gump    8.8            1994
11                                         Fight Club    8.7            1999
12              The Lord of the Rings: The Two Towers    8.7            2002
13                                          Inception    8.7            2010
14                            The Empire Strikes Back    8.7            1980
15                                         The Matrix    8.7            1999
16                                         GoodFellas    8.7            1990
17                    One Flew Over the Cuckoo's Nest    8.6            1975
18                                              Se7en    8.6            1995
19                              It's a Wonderful Life    8.6            1946
20                               Shichinin no samurai    8.6            1954
21                           The Silence of the Lambs    8.6            1991
22                                Saving Private Ryan    8.6            1998
23                                     Cidade de Deus    8.6            2002
24                                       Interstellar    8.6            2014
25                                    La vita è bella    8.6            1997
26                                     The Green Mile    8.6            1999
27                                          Star Wars    8.5            1977
28                         Terminator 2: Judgment Day    8.5            1991
29                                 Back to the Future    8.5            1985
30                      Sen to Chihiro no kamikakushi    8.5            2001
31                                        The Pianist    8.5            2002
32                                             Psycho    8.5            1960
33                                       Gisaengchung    8.5            2019
34                                               Léon    8.5            1994
35                                      The Lion King    8.5            1994
36                                          Gladiator    8.5            2000
37                                 American History X    8.5            1998
38                                       The Departed    8.5            2006
39                                           Whiplash    8.5            2014
40                                       The Prestige    8.5            2006
41                                 The Usual Suspects    8.5            1995
42                                         Casablanca    8.5            1942
43                                     Hotaru no haka    8.5            1988
44                                            Seppuku    8.5            1962
45                                   The Intouchables    8.5            2011
46                                       Modern Times    8.4            1936
47                       Once Upon a Time in the West    8.4            1968
48                              Nuovo Cinema Paradiso    8.4            1988
49                                        Rear Window    8.4            1954

### 3) Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [23]:
Top_50_IMDB_Movies('https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=461131e5-5af0-4e50-bee2-223fad1e00ca&pf_rd_r=7YKPS81Q5TE720QFAFK2&pf_rd_s=center-1&pf_rd_t=60601&pf_rd_i=india.toprated&ref_=fea_india_ss_toprated_india_tr_india250_hd')

                                 Titles Rating Year_of_Release
0   Ramayana: The Legend of Prince Rama    8.6            1993
1            Rocketry: The Nambi Effect    8.4            2022
2                               Nayakan    8.4            1987
3                              Gol Maal    8.4            1979
4                           777 Charlie    8.4            2022
5                            Anbe Sivam    8.4            2003
6                     Pariyerum Perumal    8.4            2018
7                           Apur Sansar    8.4            1959
8                              Jai Bhim    8.4            2021
9                              3 Idiots    8.4            2009
10                     Manichitrathazhu    8.3            1993
11                                #Home    8.3            2021
12                      Soorarai Pottru    8.3            2020
13                         Black Friday    8.3            2004
14                    Kumbalangi Nights    8.3            2019
15                    C/o Kancharapalem    8.3            2018
16                     Taare Zameen Par    8.3            2007
17                             Kireedam    8.3            1989
18                               Dangal    8.3            2016
19                               Kaithi    8.3            2019
20                               Jersey    8.3            2019
21                                   96    8.3            2018
22                          Maya Bazaar    8.2            1957
23                            Natsamrat    8.2            2016
24                               Asuran    8.2            2019
25                           Drishyam 2    8.2            2021
26                           Sita Ramam    8.2            2022
27                         Thevar Magan    8.2            1992
28                           Visaaranai    8.2            2015
29                  Sarpatta Parambarai    8.2            2021
30                           Thalapathi    8.2            1991
31                         Nadodikkattu    8.2            1987
32                      Pather Panchali    8.2            1955
33                             Drishyam    8.2            2013
34                         Thani Oruvan    8.2            2015
35                   Jaane Bhi Do Yaaro    8.2            1983
36                         Vada Chennai    8.2            2018
37                            Aparajito    8.2            1956
38                         Sardar Udham    8.2            2021
39                    Khosla Ka Ghosla!    8.2            2006
40                              Anniyan    8.2            2005
41                             Ratsasan    8.1            2018
42                        Chupke Chupke    8.1            1975
43                   Gangs of Wasseypur    8.1            2012
44                             Drishyam    8.1            2015
45                              Peranbu    8.1            2018
46                       Bangalore Days    8.1            2014
47                             Mahanati    8.1            2018
48                                Satya    8.1            1998
49                               Premam    8.1            2015

### 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [24]:
def Former_Presidents_Of_India(url):
    #Get the page info
    page = requests.get(url)
    
    #extract full page content
    soup = BeautifulSoup(page.content)
    
    #define the lists to store values
    President_Name_List = []
    Term_of_Office_List = []
    
    #extract Name and term
    President_details = soup.find_all('div', class_ = 'presidentListing')
    
    #Store Names and Terms in lists
    for detail in President_details:
        President_Name_List.append(detail.text.split('\n')[1].split('(')[0].removesuffix(' '))
        Term_of_Office_List.append(detail.text.split('\n')[2].split(':')[1])
        
    #generate and display Data Frame
    df = pd.DataFrame({'Name of Respected President' : President_Name_List, 'Term of Office' : Term_of_Office_List})
    print(df)

In [25]:
Former_Presidents_Of_India('https://presidentofindia.nic.in/former-presidents.htm')

     Name of Respected President  \
0           Shri Ram Nath Kovind
1          Shri Pranab Mukherjee
2   Smt Pratibha Devisingh Patil
3         DR. A.P.J. Abdul Kalam
4           Shri K. R. Narayanan
5        Dr Shankar Dayal Sharma
6            Shri R Venkataraman
7               Giani Zail Singh
8      Shri Neelam Sanjiva Reddy
9       Dr. Fakhruddin Ali Ahmed
10  Shri Varahagiri Venkata Giri
11              Dr. Zakir Husain
12  Dr. Sarvepalli Radhakrishnan
13           Dr. Rajendra Prasad

                                       Term of Office
0                     25 July, 2017 to 25 July, 2022
1                     25 July, 2012 to 25 July, 2017
2                     25 July, 2007 to 25 July, 2012
3                     25 July, 2002 to 25 July, 2007
4                     25 July, 1997 to 25 July, 2002
5                     25 July, 1992 to 25 July, 1997
6                     25 July, 1987 to 25 July, 1992
7                     25 July, 1982 to 25 July, 1987
8                     25 July, 1977 to 25 July, 1982
9                24 August, 1974 to 11 February, 1977
10   3 May, 1969 to 20 July, 1969 and 24 August, 1...
11                        13 May, 1967 to 3 May, 1969
12                       13 May, 1962 to 13 May, 1967
13                   26 January, 1950 to 13 May, 1962

### 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame 
### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
### b) Top 10 ODI Batsmen along with the records of their team and rating.
### c) Top 10 ODI bowlers along with the records of their team and rating.

In [26]:
#Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
def Top_10_ODI_Teams(url):
    #Get the page info
    page = requests.get(url)
    
    #extract full page content
    soup = BeautifulSoup(page.content)
    
    #define the lists to store values
    teams_List = []
    matches_List = []
    points_List = []
    ratings_List = []
    
    #extract teams details
    teams = soup.find_all('span', class_ = 'u-hide-phablet')
    match1 = soup.find('td', class_ = 'rankings-block__banner--matches')
    point1 = soup.find('td', class_ = 'rankings-block__banner--points')
    rating1 = soup.find('td', class_ = 'rankings-block__banner--rating u-text-right')
    matchesandPoints = soup.find_all('td', class_ = 'table-body__cell u-center-text')
    ratings = soup.find_all('td', 'table-body__cell u-text-right rating')
     
    #append list with first element
    matches_List.append(match1.text)
    points_List.append(point1.text)
    ratings_List.append(rating1.text.split('\n')[1])
    
    #Create some intermediate lists for operations
    matchesandPoint_List = [] #in this list data for both matches and points for othee than fisrt team will be stored together
    nonFisrtMatches = [] #in this only matches for other than first rank team will be stored
    nonFirstPoints = [] #in this only points for other than first rank team will be stored
    
    #Sepearte the data for matches and Points
    for matchesandpoint in matchesandPoints:
        matchesandPoint_List.append(matchesandpoint.text)
    for matchorpoint in matchesandPoint_List:
        index = matchesandPoint_List.index(matchorpoint)
        if(index%2 == 0):
            nonFisrtMatches.append(matchorpoint)
        else:
            nonFirstPoints.append(matchorpoint)
    #Store all the datas in seperate lists   
    for team in teams:
        teams_List.append(team.text)
    matches_List.extend(nonFisrtMatches) # extending matches list with first and non first elements
    points_List.extend(nonFirstPoints) # extending points List with first and non first elements
    for rating in ratings:
        ratings_List.append(rating.text)
        
    #generate and display Data Frame
    df = pd.DataFrame({'Top_Teams' : teams_List[:10], 'Matches' : matches_List[:10], 'Points': points_List[:10], 'Ratings' : ratings_List[:10]})
    print(df)

In [27]:
Top_10_ODI_Teams('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

      Top_Teams Matches Points                          Ratings
0     Australia      35  3,965                              113
1   New Zealand      31  3,504                              113
2         India      47  5,294                              113
3       England      36  3,988                              111
4      Pakistan      25  2,649                              106
5  South Africa      31  3,141                              101
6    Bangladesh      38  3,625                               95
7     Sri Lanka      36  3,099                               86
8   West Indies      43  3,105                               72
9   Afghanistan      20  1,419                               71

In [28]:
def Top_10_Batsmen(url):
    #Get the page info
    page = requests.get(url)
    
    #extract full page content
    soup = BeautifulSoup(page.content)
    
    #define the lists to store values
    players_List = []
    team1andrating1_List = []
    teams_List = []
    ratings_List = []

    #extract player details
    player1 = soup.find('div', class_ = 'rankings-block__banner--name')
    team1andrating1 = soup.find_all('div', class_ = 'rankings-block__banner--nationality')
    players = soup.find_all('td', class_ = 'table-body__cell name')
    teams = soup.find_all('span', class_ = 'table-body__logo-text')
    ratings = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
    
    #append list with first element
    players_List.append(player1.text)

    #store data for team and rating
    for teamandrating in team1andrating1:
            team1andrating1_List.append(teamandrating.text)
    teams_List.append(team1andrating1_List[0].split('\n')[2])
    ratings_List.append(team1andrating1_List[0].split('\n')[3].strip())
    
    #Store all the datas in seperate lists   
    for player in players:
        players_List.append(player.text.split('\n')[1])
    for team in teams:
        teams_List.append(team.text)
    for rating in ratings:
        ratings_List.append(rating.text)
        
    #generate and display Data Frame
    df = pd.DataFrame({'Player' : players_List[:10], 'Teams' : teams_List[:10], 'Ratings': ratings_List[:10]})
    print(df)

In [29]:
Top_10_Batsmen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

                  Player Teams Ratings
0             Babar Azam   PAK     887
1  Rassie van der Dussen    SA     777
2            Imam-ul-Haq   PAK     740
3           Shubman Gill   IND     738
4           David Warner   AUS     726
5            Virat Kohli   IND     719
6        Quinton de Kock    SA     718
7           Rohit Sharma   IND     707
8            Steve Smith   AUS     702
9           Fakhar Zaman   PAK     699

In [30]:
def Top_10_Bowlers(url):
    #Get the page info
    page = requests.get(url)
    
    #extract full page content
    soup = BeautifulSoup(page.content)
    
    #define the lists to store values
    players_List = []
    teams_List = []
    ratings_List = []

    #extract player details
    first_data=soup.find("div",attrs={"data-cricket-role":"bowling"}).find("div",class_="rankings-block__top-player").text.strip().split("\n")

    other_data=soup.find("div",attrs={"data-cricket-role":"bowling"}).find_all("tr", class_="table-body")
    
    #append list with first element
    players_List.append(first_data[9])
    teams_List.append(first_data[12])
    ratings_List.append(first_data[13].strip())
    
    for data in other_data:
        data_List = data.text.strip().split("\n")
        players_List.append(data_List[9])
        teams_List.append(data_List[13])
        ratings_List.append(data_List[15])
    df = pd.DataFrame({"Top_Bowlers" : players_List, "Teams" : teams_List, "Ratings" : ratings_List})
    print(df)

In [31]:
Top_10_Bowlers('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

        Top_Bowlers Teams Ratings
0    Josh Hazlewood   AUS     705
1       Trent Boult    NZ     694
2    Mohammed Siraj   IND     691
3    Mitchell Starc   AUS     686
4        Matt Henry    NZ     676
5       Rashid Khan   AFG     659
6        Adam Zampa   AUS     652
7    Shaheen Afridi   PAK     641
8  Mujeeb Ur Rahman   AFG     637
9   Shakib Al Hasan   BAN     636

### 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame 
### a)Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
### b) Top 10 women’s ODI Batting players along with the records of their team and rating.
### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [32]:
#a)
Top_10_ODI_Teams('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

      Top_Teams Matches Points                          Ratings
0     Australia      21  3,603                              172
1       England      28  3,342                              119
2  South Africa      26  3,098                              119
3         India      27  2,820                              104
4   New Zealand      25  2,553                              102
5   West Indies      27  2,535                               94
6    Bangladesh      13    983                               76
7      Thailand       8    572                               72
8      Pakistan      27  1,678                               62
9     Sri Lanka       8    353                               44

In [33]:
#b)
Top_10_Batsmen('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

                Player Teams Ratings
0         Alyssa Healy   AUS     762
1          Beth Mooney   AUS     754
2      Laura Wolvaardt    SA     732
3       Natalie Sciver   ENG     731
4          Meg Lanning   AUS     717
5     Harmanpreet Kaur   IND     716
6      Smriti Mandhana   IND     714
7       Rachael Haynes   AUS     680
8  Chamari Athapaththu    SL     655
9    Amy Satterthwaite    NZ     641

In [34]:
#c)
def Top_10_AllRounders(url):
    #Get the page info
    page = requests.get(url)
    
    #extract full page content
    soup = BeautifulSoup(page.content)
    
    #define the lists to store values
    players_List = []
    teams_List = []
    ratings_List = []

    #extract player details
    first_data=soup.find("div",attrs={"data-cricket-role":"all_round"}).find("div",class_="rankings-block__top-player").text.strip().split("\n")

    other_data=soup.find("div",attrs={"data-cricket-role":"all_round"}).find_all("tr", class_="table-body")
    
    #append list with first element
    players_List.append(first_data[9])
    teams_List.append(first_data[12])
    ratings_List.append(first_data[13].strip())
    
    for data in other_data:
        data_List = data.text.strip().split("\n")
        players_List.append(data_List[9])
        teams_List.append(data_List[13])
        ratings_List.append(data_List[15])
    df = pd.DataFrame({"Top_Bowlers" : players_List, "Teams" : teams_List, "Ratings" : ratings_List})
    print(df)

In [35]:
Top_10_AllRounders('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

        Top_Bowlers Teams Ratings
0   Hayley Matthews    WI     373
1    Natalie Sciver   ENG     371
2      Ellyse Perry   AUS     366
3    Marizanne Kapp    SA     349
4       Amelia Kerr    NZ     336
5     Deepti Sharma   IND     322
6  Ashleigh Gardner   AUS     292
7     Jess Jonassen   AUS     250
8          Nida Dar   PAK     232
9    Jhulan Goswami   IND     214

### 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame
### i)Headline
### ii) Time
### iii) News Link

In [36]:
def News_Detail(url):
    page = requests.get(url)
    
    #extract full page content
    soup = BeautifulSoup(page.content)
    
    #define the lists to store values
    Headline_List = []
    Time_List = []
    NewsLink_List = []

        #extract player details
    News_Time = soup.find_all("span", class_= "LatestNews-wrapper")
    Headlines = soup.find_all("a", class_ = "LatestNews-headline")

    for news in News_Time:
        Time_List.append(news.text)
    for headline in Headlines:
        Headline_List.append(headline.text)
        NewsLink_List.append(headline["href"])

    df = pd.DataFrame({"Headline" : Headline_List, "Time" : Time_List, "News_Link" : NewsLink_List})
    print(df)

In [37]:
News_Detail('https://www.cnbc.com/world/?region=world')

                                             Headline         Time  \
0   Black wealth matters: How Ross Mac aims to hel...   11 Min Ago
1   Blockbuster pushed HBO to invest in original c...   37 Min Ago
2   4 side hustles for early birds and night owls:...   41 Min Ago
3   J&J shares rise after company proposes baby po...   51 Min Ago
4   Kia's new EV9 is a 7-passenger electric SUV co...   1 Hour Ago
5    How AI and virtual reality will change stress...   1 Hour Ago
6   Trump lawyer says 'we're not going to get to a...   1 Hour Ago
7   Trump wanted to avoid Stormy Daniels payment b...   1 Hour Ago
8   Wells Fargo's top short-term trade ideas for t...   1 Hour Ago
9   Eli Lilly says experimental Alzheimer's drug r...   1 Hour Ago
10  How Apple CEO Tim Cook clears his head: 'A pal...   1 Hour Ago
11  DOJ announces seizure of cybercrime marketplac...   1 Hour Ago
12  Cardiologist shares 5 foods she eats to lower ...  2 Hours Ago
13  Need more cash? Maybe it's time to start a sid...  2 Hours Ago
14  'The numbers need to come down,' bears say ahe...  2 Hours Ago
15  Ram's electric pickup will top the F-150 Light...  2 Hours Ago
16  ChatGPT is the newest in-demand job skill that...  3 Hours Ago
17  Meta layoffs gut customer service, leaving inf...  3 Hours Ago
18  6 signs you have too much debt—and how to pay ...  3 Hours Ago
19  The box office is catching up to pre-Covid levels  3 Hours Ago
20  Jim Cramer's top 10 things to watch in the sto...  3 Hours Ago
21  Bed Bath & Beyond gets merchandise lifeline as...  3 Hours Ago
22  Wednesday's top analyst calls: Disney, Apple, ...  3 Hours Ago
23  Here's where the A.I. jobs are, according to a...  3 Hours Ago
24  How to avoid a 'stealth tax' on your Social Se...  3 Hours Ago
25  Private payrolls rose by 145,000 in March, wel...  3 Hours Ago
26  Wedbush says buy this coffee stock that could ...  3 Hours Ago
27  Stocks making the biggest moves premarket: Joh...  4 Hours Ago
28  Women are paid less than two-thirds of men's e...  4 Hours Ago
29  Microsoft, Amazon face cloud competition probe...  4 Hours Ago

                                            News_Link
0   https://www.cnbc.com/2023/04/05/how-ross-mac-a...
1   https://www.cnbc.com/2023/04/05/blockbuster-pu...
2   https://www.cnbc.com/2023/04/05/side-hustles-f...
3   https://www.cnbc.com/2023/04/05/johnson-and-jo...
4   https://www.cnbc.com/2023/04/05/kia-ev9-electr...
5   https://www.cnbc.com/2023/04/05/-how-ai-and-vi...
6   https://www.cnbc.com/2023/04/05/trump-new-york...
7   https://www.cnbc.com/2023/04/05/trump-indictme...
8   https://www.cnbc.com/2023/04/05/wells-fargos-t...
9   https://www.cnbc.com/2023/04/05/eli-lilly-says...
10  https://www.cnbc.com/2023/04/05/apple-ceo-tim-...
11  https://www.cnbc.com/2023/04/05/genesis-market...
12  https://www.cnbc.com/2023/04/05/cardiologist-e...
13  https://www.cnbc.com/2023/04/05/need-more-cash...
14  https://www.cnbc.com/2023/04/05/earnings-seaso...
15  https://www.cnbc.com/2023/04/05/ram-1500-rev-e...
16  https://www.cnbc.com/2023/04/05/chatgpt-is-the...
17  https://www.cnbc.com/2023/04/05/meta-layoffs-g...
18  https://www.cnbc.com/2023/04/05/signs-you-have...
19  https://www.cnbc.com/2023/04/05/box-office-alm...
20  https://www.cnbc.com/2023/04/05/cramers-things...
21  https://www.cnbc.com/2023/04/05/bed-bath-beyon...
22  https://www.cnbc.com/2023/04/05/wall-streets-t...
23  https://www.cnbc.com/2023/04/05/ai-jobs-see-th...
24  https://www.cnbc.com/2023/04/05/social-securit...
25  https://www.cnbc.com/2023/04/05/adp-march-2023...
26  https://www.cnbc.com/2023/04/05/wedbush-says-b...
27  https://www.cnbc.com/2023/04/05/stocks-making-...
28  https://www.cnbc.com/2023/04/05/uk-gender-pay-...
29  https://www.cnbc.com/2023/04/05/microsoft-amaz...

### 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame
### i)Paper Title
### ii) Authors
### iii) Published Date
### iv) Paper URL

In [38]:
def PaperDetails(url):
    #get the web content
    page = requests.get(url)
    soup = BeautifulSoup(page.content)
    
    #Scrape the details
    paperTitles = soup.find_all("h2", class_ = "sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg")
    authors = soup.find_all("span", class_ = "sc-1w3fpd7-0 dnCnAO")
    published_Dates = soup.find_all("span", class_ = "sc-1thf9ly-2 dvggWt")
    urls = soup.find_all("a", class_ = "sc-5smygv-0 fIXTHm")

    #Define list to store values
    paperTitle_List = []
    authors_List = []
    publishedDates_List = []
    paperUrls_List = []
    
    #append the list with values
    for paperTitle in paperTitles:
        paperTitle_List.append(paperTitle.text)
    for author in authors:
        authors_List.append(author.text)
    for publishedDate in published_Dates:
        publishedDates_List.append(publishedDate.text)
    for url in urls:
        paperUrls_List.append(url['href'])
        
    df = pd.DataFrame({"Paper Title" : paperTitle_List, "Authors" : authors_List, "Published date" : publishedDates_List, "Paper Url" : paperUrls_List})
    print(df)

In [39]:
PaperDetails("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

                                          Paper Title  \
0                                    Reward is enough
1                           Making sense of raw input
2   Law and logic: A review from an argumentation ...
3              Creativity and artificial intelligence
4   Artificial cognition for social human–robot in...
5   Explanation in artificial intelligence: Insigh...
6                       Making sense of sensory input
7   Conflict-based search for optimal multi-agent ...
8   Between MDPs and semi-MDPs: A framework for te...
9   The Hanabi challenge: A new frontier for AI re...
10  Evaluating XAI: A comparison of rule-based and...
11           Argumentation in artificial intelligence
12  Algorithms for computing strategies in two-pla...
13      Multiple object tracking: A literature review
14  Selection of relevant features and examples in...
15  A survey of inverse reinforcement learning: Ch...
16  Explaining individual predictions when feature...
17  A review of possible effects of cognitive bias...
18  Integrating social power into the decision-mak...
19  “That's (not) the output I expected!” On the r...
20  Explaining black-box classifiers using post-ho...
21  Algorithm runtime prediction: Methods & evalua...
22              Wrappers for feature subset selection
23  Commonsense visual sensemaking for autonomous ...
24         Quantum computation, quantum theory and AI

                                              Authors  Published date  \
0   Silver, David, Singh, Satinder, Precup, Doina,...    October 2021
1           Evans, Richard, Bošnjak, Matko and 5 more    October 2021
2                   Prakken, Henry, Sartor, Giovanni     October 2015
3                                 Boden, Margaret A.      August 1998
4     Lemaignan, Séverin, Warnier, Mathieu and 3 more       June 2017
5                                        Miller, Tim    February 2019
6   Evans, Richard, Hernández-Orallo, José and 3 more      April 2021
7   Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...   February 2015
8   Sutton, Richard S., Precup, Doina, Singh, Sati...     August 1999
9         Bard, Nolan, Foerster, Jakob N. and 13 more      March 2020
10  van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...   February 2021
11               Bench-Capon, T.J.M., Dunne, Paul E.     October 2007
12       Bošanský, Branislav, Lisý, Viliam and 3 more     August 2016
13             Luo, Wenhan, Xing, Junliang and 4 more      April 2021
14                      Blum, Avrim L., Langley, Pat    December 1997
15                   Arora, Saurabh, Doshi, Prashant      August 2021
16      Aas, Kjersti, Jullum, Martin, Løland, Anders   September 2021
17  Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...       June 2021
18    Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.    December 2016
19                      Riveiro, Maria, Thill, Serge   September 2021
20  Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...        May 2021
21  Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...    January 2014
22                      Kohavi, Ron, John, George H.    December 1997
23  Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...    October 2021
24                                   Ying, Mingsheng    February 2010

                                            Paper Url
0   https://www.sciencedirect.com/science/article/...
1   https://www.sciencedirect.com/science/article/...
2   https://www.sciencedirect.com/science/article/...
3   https://www.sciencedirect.com/science/article/...
4   https://www.sciencedirect.com/science/article/...
5   https://www.sciencedirect.com/science/article/...
6   https://www.sciencedirect.com/science/article/...
7   https://www.sciencedirect.com/science/article/...
8   https://www.sciencedirect.com/science/article/...
9   https://www.sciencedirect.com/science/article/...
10  https://www.sciencedirect.com/science/article/...
11  https://www.sciencedirect.com/science/article/...
12  https://www.sciencedirect.com/science/article/...
13  https://www.sciencedirect.com/science/article/...
14  https://www.sciencedirect.com/science/article/...
15  https://www.sciencedirect.com/science/article/...
16  https://www.sciencedirect.com/science/article/...
17  https://www.sciencedirect.com/science/article/...
18  https://www.sciencedirect.com/science/article/...
19  https://www.sciencedirect.com/science/article/...
20  https://www.sciencedirect.com/science/article/...
21  https://www.sciencedirect.com/science/article/...
22  https://www.sciencedirect.com/science/article/...
23  https://www.sciencedirect.com/science/article/...
24  https://www.sciencedirect.com/science/article/...

### 9) Write a python program to scrape mentioned details from dineout.co.in and make data frame
### i) Restaurant name
### ii) Cuisine
### iii) Location
### iv) Ratings
### v) Image URL

In [40]:
def GetHotelDeatails(url):
    #Get page content
    page = requests.get(url)
    soup = BeautifulSoup(page.content)

    #Scrap rquired details
    restaurants = soup.find_all("a", class_ = "restnt-name ellipsis")
    cuisines = soup.find_all("span", class_ = "double-line-ellipsis")
    locations = soup.find_all("div", class_ = "restnt-loc ellipsis")
    ratings = soup.find_all("div", class_ = "restnt-rating rating-4")
    imageUrls = soup.find_all("img", class_ = "no-img")

    #Define empty lists
    restaurents_List = []
    cuisines_List = []
    locations_List = []
    ratings_List = []
    imageUrls_List = []
    
    #Append data to list
    for restaurant in restaurants:
        restaurents_List.append(restaurant.text)
    for cuisine in cuisines:
        cuisines_List.append(cuisine.text.split("|")[1].strip())
    for location in locations:
        locations_List.append(location.text)
    for rating in ratings:
        ratings_List.append(rating.text)
    for url in imageUrls:
        imageUrls_List.append(url["data-src"])
        
    #Create and print Data Frame
    df = pd.DataFrame({"Restaurant" : restaurents_List, "Cuisine" : cuisines_List, "Loaction" : locations_List, "Ratings" : ratings_List, "Image Url" : imageUrls_List})
    print(df)

In [41]:
GetHotelDeatails("https://www.dineout.co.in/delhi-restaurants/buffet-special")

                         Restaurant                       Cuisine  \
0                   Castle Barbeque         Chinese, North Indian
1                   Jungle Jamboree  North Indian, Asian, Italian
2                        Cafe Knosh          Italian, Continental
3                   Castle Barbeque         Chinese, North Indian
4              The Barbeque Company         North Indian, Chinese
5                       India Grill         North Indian, Italian
6                    Delhi Barbeque                  North Indian
7  The Monarch - Bar Be Que Village                  North Indian
8                 Indian Grill Room         North Indian, Mughlai

                                            Loaction Ratings  \
0                     Connaught Place, Central Delhi       4
1             3CS Mall,Lajpat Nagar - 3, South Delhi     3.9
2  The Leela Ambience Convention Hotel,Shahdara, ...     4.3
3             Pacific Mall,Tagore Garden, West Delhi     3.9
4                 Gardens Galleria,Sector 38A, Noida     3.9
5               Hilton Garden Inn,Saket, South Delhi     3.9
6     Taurus Sarovar Portico,Mahipalpur, South Delhi     3.7
7  Indirapuram Habitat Centre,Indirapuram, Ghaziabad     3.8
8   Suncity Business Tower,Golf Course Road, Gurgaon     4.3

                                           Image Url
0  https://im1.dineout.co.in/images/uploads/resta...
1  https://im1.dineout.co.in/images/uploads/resta...
2  https://im1.dineout.co.in/images/uploads/resta...
3  https://im1.dineout.co.in/images/uploads/resta...
4  https://im1.dineout.co.in/images/uploads/resta...
5  https://im1.dineout.co.in/images/uploads/resta...
6  https://im1.dineout.co.in/images/uploads/resta...
7  https://im1.dineout.co.in/images/uploads/resta...
8  https://im1.dineout.co.in/images/uploads/resta...